@import "../../ScssVariables/Variables.scss";

.container {
    display: flex;

    h1 {
        color: $white;
        margin: 0;
    }

    .graphHolder {
        width: 400px;
        // height: 200px;
    }

    .centerContainer {
        padding: 16px;
        display: flex;


        h4 {
            color: white;
            margin: 0;
        }

        .graphHolder {
            display: grid;
            grid-template-columns: 360px 100px;

        }
    }

    #resize {

        width: 220px;
        margin-left: 2;
        height: 270px;
    }



    .controls {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        margin-left: 20px;

        .right {
            display: grid;
            grid-template-columns: 60px 50px;

            grid-template-rows: 20px;

            .power {
                display: grid;
                margin-top: 50px;
            }


        }




    }


}