.container{
    display: flex;
    flex: 1;
  
    .left{
        width: fit-content;
        display: flex;
    }

    .centerContainer{
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2%;
    }
}