// #091113 - nav primary
.navigationpanel {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #091113;
    grid-gap: 8px;
    height: 100vh;
    width: 220px;
    // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    grid-template-rows: repeat(7, 1fr);

    &__logo {
        // justify-items: center;
        display: grid;
        grid-template-columns: 200px;
        padding: 8px;
        text-align: center;
        margin-top: 32px;

        &__stu {
            display: grid;
            height: 150px;
            width: auto;
            justify-self: center;
        }
    }

    &__linksgroup {
        padding-top: 32px;
        grid-gap: 32px;
        height: auto;
        // background-color: antiquewhite;
        display: grid;
        text-align: center;

    }

}

.MuiButtonBase-root MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium MuiButton-root MuiButton-text MuiButton-textPrimary MuiButton-sizeMedium MuiButton-textSizeMedium css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    width: 100px;
}