// #091113 - nav primary
.navigationpanel {
    display: flex;
    flex: 1;
    background-color: #091113;
    gap: 10px;
    height: 100vh;
    width: 260px;

    .homebutton {
        height: 30px;
        width: 30px;
    }
}