.mainpage {
    display: grid;
    width: 100vw;
    height: 100%;

    // 30353D
    &__grid {
        display: grid;
        padding-left: 16px;
        grid-template-columns: 100px 300px 300px 300px;
        // height between rows
        grid-template-rows: 370px;

        &__leftpanel {
            display: grid;
            grid-auto-columns: 100px;
            width: 100px;
            align-items: center;
            justify-content: center;
            justify-items: center;
            grid-gap: 24px;
            padding-top: 24px;

            &__panel {
                padding-top: 40px;
            }
        }

        &__toprow {
            display: grid;
            width: auto;
            grid-template-rows: auto;
            grid-template-columns: auto 400px 400px 400px;
            grid-gap: 20px;
            padding-left: 24px;
            padding-top: 24px;

            &__studrinks {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 220px auto;

                &__graph {
                    padding: 8px;
                    background-color: aliceblue;
                }

                &__controls {}
            }

            &__stumaticfan {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 220px auto;

                &__graph {
                    padding: 8px;

                }

                &__controls {
                    padding-left: 40px;
                }
            }

            &__stusnacks {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 220px auto;

                &__graph {
                    padding: 8px;
                    background-color: aliceblue;
                }

                &__controls {
                    padding: 24px;
                }
            }
        }
    }

    &__bottomrow {
        display: grid;
        width: auto;
        grid-template-rows: auto;
        grid-template-columns: 830px 200px;
        grid-gap: 24px;
        padding-left: 130px;
        padding-top: 24px;

        &__studiolights {
            width: 830px;
            height: 330px;
            background-color: #30353D;
            border-radius: 20px;
        }

        &__stulock {
            width: 400px;
            height: 330px;
            background-color: #30353D;
            border-radius: 20px;
        }
    }

}