.mainpage {
    display: grid;
    width: 100vw;
    height: 100%;

    // 30353D
    &__grid {
        display: grid;
        padding-left: 16px;
        grid-template-columns: 100px 300px 300px 300px;
        // height between rows
        grid-template-rows: 370px;

        &__leftpanel {
            display: grid;
            grid-auto-columns: 100px;
            width: 100px;
            align-items: center;
            justify-content: center;
            justify-items: center;
            grid-gap: 24px;
            padding-top: 24px;

            &__panel {
                padding-top: 40px;
            }
        }

        &__toprow {
            display: grid;
            width: auto;
            grid-template-rows: auto;
            grid-template-columns: auto 400px 400px 400px;
            grid-gap: 20px;
            padding-left: 24px;
            padding-top: 24px;

            &__studrinks {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 210px auto;

                &__graph {
                    margin-top: 8px;
                    padding: 16px;
                    margin-left: 8px;
                    height: 190px !important;
                    width: 350px;
                    border-radius: 5px;
                    background-color: #091113;
                }

                &__controls {
                    padding-top: 32px;
                    display: grid;
                    grid-template-columns: 200px;
                    width: auto;
                    height: 30px;
                    grid-gap: 16px;
                    justify-content: center;
                }
            }

            &__stumaticfan {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 220px auto;

                &__graph {
                    margin-left: 8px;
                    margin-top: 8px;
                    height: 205px;
                    width: 365px;
                    padding: 8px;
                    background-color: #091113;
                    border-radius: 5px;
                }

                &__controls {
                    padding-left: 40px;
                    padding-top: 8px;
                }
            }

            &__stusnacks {
                width: 400px;
                height: 330px;
                background-color: #30353D;
                border-radius: 20px;
                display: grid;
                grid-template-rows: 220px auto;

                &__graph {
                    margin-left: 8px;
                    margin-top: 8px;
                    height: 205px;
                    width: 365px;
                    padding: 8px;
                    background-color: #091113;
                    border-radius: 5px;
                }

                &__controls {
                    padding: 24px;
                    display: grid;
                    grid-template-rows: 50px 40px;

                    &__buttons {
                        display: grid;
                        grid-template-columns: 200px;
                        width: auto;
                        height: 30px;
                        grid-gap: 16px;
                        justify-content: center;

                    }

                    &__switch {
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: 30px 50px 30px;
                        width: auto;
                        height: 30px;
                        justify-content: center;
                        align-items: center;

                    }
                }
            }
        }
    }

    &__bottomrow {
        display: grid;
        width: auto;
        grid-template-rows: auto;
        grid-template-columns: 830px 200px;
        grid-gap: 24px;
        padding-left: 130px;
        padding-top: 24px;

        &__studiolights {
            width: 830px;
            height: 330px;
            background-color: #30353D;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 200px 200px 100px 100px;


            &__circles {
                width: 50px;
                display: grid;
                grid-template-columns: 40px 40px 40px 40px;
                grid-gap: 16px;
                padding: 32px;
                padding-left: 380px;
            }

            &__controls {
                display: grid;
                grid-template-columns: 100px 50px 60px 20px;
                align-items: center;
                padding-left: 150px;
                margin-top: -100px;
            }

            &__breathecontrol {
                display: grid;
                grid-template-columns: 100px 50px 60px 20px;
                align-items: center;
                padding-top: 80px;
                padding-left: 50px;
            }



        }

        &__stulock {
            width: 400px;
            height: 330px;
            background-color: #30353D;
            border-radius: 20px;


            &__graph {
                margin-left: 8px;
                margin-top: 8px;
                height: 205px;
                width: 365px;
                padding: 8px;
                background-color: #091113;
                border-radius: 5px;
            }

            &__buttons {
                width: 40%;
                height: 15%;
                padding: 20px;
                float: left;

                .switchContainer {
                    padding-top: 10px;
                    display: flex;
                }
            }

            &__timer {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                h4 {
                    text-align: center;
                    color: white;

                }

                input {
                    width: 10%;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                }
            }
        }
    }

}

.dispensing {
    display: grid;
    grid-template-columns: 100px;
    width: 400px;
    align-items: center;

    &__alert {
        display: grid;
        height: 20px !important;
        padding-left: 80px;

    }

    &__alertactive {
        display: grid;
        height: 20px !important;
        padding-left: 80px;
        color: aqua !important;
    }
}