@import "../../ScssVariables/Variables.scss";

.colorCircle {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    border-radius: 55%;
    display: flex;
    margin-right: 2%;
    transition: 0.3s linear all;

    &:hover {
        transform: scale(1.1);
    }
}